<h1>Listing users</h1>
<%= link_to 'Create a new student', new_user_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>ImageURL</th>
    <th></th>
    <th></th>
  </tr>

  <% @makers.each do |maker| %>
    <tr>
      <td><%= maker.name %></td>
      <td><%= maker.nickname %></td>
      <td><%= maker.email %></td>
      <td><%= maker.imageURL %></td>
      <td><%= link_to 'Show', maker %></td>
      <td><%= link_to 'Edit', edit_maker_path(maker) %></td>
    </tr>
  <% end %>
</table>