<h1>List of Users</h1>
<%= link_to 'Sign up', new_user_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>Image_url</th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.nickname %></td>
      <td><%= user.email %></td>
      <td><%= user.image_url %></td>
      <td><%= link_to 'Show', user %></td>
    </tr>
  <% end %>
</table>