<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Picture:</strong>
    <%- if @user.image_url.present? -%>
      <%= image_tag @user.image_url %>
    <%- elsif @user.email.present? -%>
      <%= image_tag @user.gravatar_url %>
    <%- else -%>
      <%= image_tag @user.gravatar_url(:default => "wavatar") %>
    <%- end %>
</p>

<%= link_to 'Back to Users', users_path %>