<!DOCTYPE html>
<html>
<head>
  <title>NkuRails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  
<body>
  <div>
    <%- if current_user.present? -%>
      <%= link_to ' Seating Chart ', seating_chart_users_path %>
      <%= link_to ' All Attendances ', attendances_path %>
      <%= link_to ' Student Index ', users_path %>
      <%= link_to ' Edit your profile ', edit_user_path(current_user.id) %>
      <%- if current_user.admin? -%>
        <%= link_to ' Create Assignment ', new_assignment_path %>
      <%- else -%>
        <%= link_to ' My Assignments ', assignments_path %>
      <%- end %>
    <%- end %>
    <div class="pull-right">
      <%- if current_user.present? -%>
        <%= link_to ' Log out ', logout_path %>
        <%= link_to ' I am here! ', new_attendance_path %>
      <%- else -%>
        <%= link_to 'Sign up', new_user_path %>
        <%= link_to 'Log in', new_session_path %>
      <%- end %>
    </div>
  </div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
<%= yield %>

</body>
</html>